/* UTILITY CLASSES */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.flex {
	display: flex;
}

.text-grey-1 {
	color: #B1B1B3;
}

.text-grey-2 {
	color: #848C93;
}

.bg-white {
	background-color: white;
}

.bg-color-1 {
	background-color: #EAEAEA;
}

.pad-rig-15 {
	padding-right: 15px;
}

.font-08em {
	font-size: .8em;
}

.font-09em {
	font-size: .9em;
}

.font-20 {
	font-size: 20px;
}

.profile-pic {
	width: 40px;
	height: 50px;
}

.profile-pic img {
	height: 100%;
	border-radius: 50%;
}
/* end UTILITY CLASSES */

#page-container {
	font-family: 'Lato', sans-serif;
	background: linear-gradient(0deg, rgba(218,219,213,1) 85%, rgba(0,151,136,1) 85%);
	}

#app-container {
	min-width: 950px;
	width: 80%;
	height: 100vh;
	margin: 0 auto;
	padding: 15px 0px 15px;
}

#sidebar {
	width: 35%;
	height: 100%;
	border-right: 1px solid black;
}

#sidebar .side-top {
	justify-content: space-between;
	padding: 10px 20px 10px 10px;
	align-items: center;
	height: 65px;
}

#sidebar .side-top > .user-account {
	align-items: center;
}

#sidebar .side-top > .user-account .profile-pic {
	margin-right: 10px;
}

#sidebar > .notifications {
	background-color: #8EDAFA;
	padding: 20px;
	align-items: center;
	height: 80px;
}

#sidebar > .notifications .notifications-icon {
	color: #8EDAFA;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
	text-align: center;
	margin-right: 10px;
}

#sidebar > .notifications .desktop-notifications {
	color: #5B879B;
}

#sidebar > .chat-start {
	background-color: #FAFAFA;
	padding: 10px;
	height: 50px;
}

#sidebar > .chat-start .chat-search {
	width: 15%;
	height: 30px;
	align-items: center;
	justify-content: center;
	font-size: 15px;
}

#sidebar > .chat-start .chat-init {
	border: none;
	height: 30px;
	width: 85%;
}

#sidebar > .chat-start .chat-init::placeholder {
	padding-left: 10px;
	color: #848C93;
	font-size: .9em;
}

#sidebar > .chats {
	height: calc(100% - 65px - 80px - 50px);
	overflow-y: scroll;
}

#sidebar > .chats .contact-chat {
	padding: 5px 20px;
}

#sidebar > .chats .contact-chat:not(:last-child) {
	border-bottom: 2px solid #FAFAFA;
}

#sidebar > .chats .contact-chat .contact-pic {
	width: 50px;
	height: 55px;
	margin-right: 20px;
}

#sidebar > .chats .contact-chat .contact-pic img {
	height: 100%;
	border-radius: 50%;
}

#main-bottom-container {
	width: 65%;
	height: 100%;
}

#main {
	height: calc(100% - 60px);
}

#main > .main-top {
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px 10px 10px;
	height: 65px;
}

#main > .main-top .user-account {
	align-items: center;
}

#main > .main-top .user-account .last-seen {
	color: #848C93;
}

#main > .main-top .user-account .profile-pic {
	margin-right: 25px;
}

#main > .messaging {
	background-image: url('../img/mine.jpg');
	height: calc(100% - 65px);
	overflow-y: scroll;
}

#box-bottom {
	background-color: #F3EEEA;
	height: 60px;
	padding: 5px 15px;
	justify-content: space-around;
	align-items: center;
	color: #717272;
	font-size: 22px;
}

#box-bottom > .type-msg {
	border: 2px solid black;
	height: 100%;
	border-radius: 5px;
	width: 82%;
}

#box-bottom > .type-msg::placeholder {
	padding-left: 15px;
}
