<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<link rel="stylesheet" href="css/style.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css">
		<title>Boolzap</title>
	</head>
	<body>
		<div id="page-container">
			<div id="app-container" class="flex">

				<div id="sidebar" class="bg-white">
					<div class="side-top bg-color-1 flex">
						<div class="user-account flex">
							<div class="profile-pic">
								<img src="img/avatar_io.jpg" alt="il tuo profilo" />
							</div>
							<h2 class="username font-09em">Nome Utente</h2>
						</div>
						<div class="user-settings font-20 text-grey-1">
							<i class="fas fa-circle-notch pad-rig-15 pointer"></i>
							<i class="fas fa-comment-alt pad-rig-15 pointer"></i>
							<i class="fas fa-ellipsis-v pointer"></i>
						</div>
					</div>

					<div class="notifications flex">
						<div class="notifications-icon font-20 bg-white">
							<i class="fas fa-bell-slash"></i>
						</div>
						<div class="enable-notifications">
							<h2 class="font-09em">Ricevi notifiche di nuovi messaggi</h2>
							<a href="#" class="desktop-notifications font-08em">Attiva notifiche desktop</a>
						</div>
					</div>

					<div class="chat-start flex">
						<div class="chat-search flex bg-white">
							<i class="fas fa-search text-grey-1"></i>
						</div>
						<input type="text" class="chat-init" name="chat-start" placeholder="Cerca o inizia una nuova chat">
					</div>

					<div class="chats bg-white">
						<div class="contactChat pointer flex" v-for="(contact, index) in contacts" @click="selectChat(index)">
							<div class="contact-pic bg-color-1">
								<img :src="`img/avatar${contact.avatar}.jpg`" alt="immagine del profilo del tuo contatto">
							</div>
							<h2 class="font-09em">{{contact.name}}</h2>
						</div>
					</div>
				</div>

				<div id="chatPlaceholder" class="bg-color-1 flex">
					<h2>Seleziona una chat</h2>
				</div>

				<div id="mainBottomContainer">
					<div id="main">
						<div class="main-top bg-color-1 flex">
							<div class="user-account flex">
								<div class="profile-pic">
									<img :src="`img/avatar${contacts[currentChat].avatar}.jpg`" alt="il profilo con cui chatti" />
								</div>
								<div class="">
									<h2 class="username font-09em">{{contacts[currentChat].name}}</h2>
									<span class="last-seen font-08em">Ultimo accesso oggi alle</span>
								</div>
							</div>
							<div class="font-20 text-grey-1">
								<i class="fas fa-search pad-rig-15 pointer"></i>
								<i class="fas fa-paperclip pad-rig-15 pointer"></i>
								<i class="fas fa-ellipsis-v pointer"></i>
							</div>
						</div>

						<div class="messaging flex">					
						</div>
					</div>

					<div id="box-bottom" class="flex">
						<i class="far fa-smile pointer"></i>
						<input type="text" class="type-msg" name="type-message" placeholder="Scrivi un messaggio" v-model="newMsg" @keyup.enter="newMessage()">
						<i class="fas fa-microphone pointer"></i>
					</div>
				</div>
			</div>
		</div>

		<script src="js/script.js" charset="utf-8"></script>
	</body>
</html>
